/* App.css */
.App {
    text-align: center;
  }
  
  .tab-content {
    margin-top: 210px; /* Adjust this value to the combined height of Healthpass and Navbar */
  }
  
  .healthpass {
    background-color: #f8f9fa;
    padding: 150px;
  }
  
  .navbar {
    background-color: #007bff;
    color: white;
    padding: 150px;
  }
  