/* src/Medications.css */
.tabs {
  display: flex;
  justify-content: flex-start;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

button.active {
  background-color: #007bff;
  color: white;
}

.tab-content-med {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 20px;
}
.medication-view {
  display: flex; /* Ensure left and right panels are side by side */
  height: 100%; /* Adjust height as needed */
}

.left-panel {
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.right-panel {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

/* Other styles */
input[type="text"] {
  width: 93.7%;
  padding: 10px;
  font-size: 16px;
}

img {
  display: block; /* This prevents any inline spacing */
  margin: 0 auto; /* Center the image if needed, remove if not needed */
}